html, body {
    width:100%;
    height:100%;
}
html {
    font-size:50px;
}
body {
    font-size:100%;
    box-shadow: inset 0em 0em 0em 0.3em #eee;
    min-height: 200px;
    background: #0078A7;
    font-family: Quicksand, sans-serif;
    font-weight: 400;
}
span {
    display: inline-block;
}
a {
    text-decoration:none;
    opacity:0.75;
    color:white;    
    -webkit-transition:color 1500ms ease-in-out;
    -moz-transition:color 1500ms ease-in-out;
    transition:color 1500ms ease-in-out;
}
a:hover, .hover {
    color:#ffc000;
    text-decoration: underline;
}
@-webkit-keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #ffc000
    }
}
@-moz-keyframes blink {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: #ffc000
    }
}
/* WRAPPER */
 .main {
    width: 100%;
    height: 100%;
    position: relative;
    display: table;
    
}
.wrapper {
    margin-left:2.5em;
}
.center {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}
/* FOOTER */
 footer {
    font-size:0.3em;
    opacity:0.95;
     color:white;
    font-weight: 800;
    position: absolute;
    bottom: 1.5em;
    left: 5em;
    right: 0;
    text-align: left;
}
footer small, footer a {
    float: left;
    padding: 1em 0 0;
    line-height: 1.1em;
    margin: 10px 10px;
    display: block;
    opacity: 0.6;
    border-top: 1px solid #b9b9b9;
    -webkit-transition:opacity 700ms ease-in-out;
    -moz-transition:opacity 700ms ease-in-out;
    transition:opacity 700ms ease-in-out;
    -webkit-transition:color 700ms ease-in-out;
    -moz-transition:color 700ms ease-in-out;
    transition:color 700ms ease-in-out;
}
small:hover, footer a:hover {
    opacity: 1;
    border-top: 1px solid #ffc000;
    color: #ffc000;
}
/*footer a:hover body { 
	box-shadow: inset 0em 0em 0em 0.3em  #ffc000;
}
*/

/* EMAIL */
 .email {
     display:none;
    font-size: 1em;
    font-weight: 900;
     
     letter-spacing:-0.06em;
}
.arroba {
    font-size: 0.8em;
    margin-left: 3px;
    /*color:#ffc000;*/
}
/* TYPING */
 .typing {
    font-weight: 300;
    color:#ffffff;
    font-size:1em;
    padding: 3px 0 5px 0;
    
    display: inline;
    border-right: 1px solid #ffc000;
    -webkit-animation: 1200ms blink step-end infinite;
    -moz-animation: 1200ms blink step-end infinite;
}
.typing span:last-child {
    color:#ffc000;
    display: inline-block;
}
/*RESPONSIVE*/

/*
@media screen and (max-width: 1050px) {
	h1 { font-size: 2em; }
	.main { padding: 0 0 6em 5em; }
	small { margin: 0 5em; }
}
@media screen and (max-width: 700px) {
	h1 { font-size: 1.6em; border: none; }
	h1 a { display: block; margin: 0 0 5px 0; }
	.main { padding: 0 0 6em 2em; }
	small { margin: 0 2em; }
	#text { border-right: 2px solid #ea002a; -webkit-animation: 1200ms blink step-end infinite; -moz-animation: 1200ms blink step-end infinite; }
	}*/
 @media screen and (max-width: 700px) {
    body {
        font-size: 60%;
    }
}
@media screen and (max-width: 400px) {
    body {
        font-size: 30%;
    }
}
/* BackGrounds */
 canvas, div table {
    opacity:0.4;
    position:absolute;
    top:0;
    right:0;
    z-index:1;
    color:white;
}
.background {
    padding: 0.3em;
        
    
}
#stats {
    display:none;
    opacity:0;
    z-index:-1;
}
.main {
    z-index:2;
}
.floor, .cubes {
    opacity:0.2;
}
.jail {
    opacity:0.4;
}
.ascii {
    opacity:0.6;
    color:white;
}
.ISOcubes {
    opacity:0.3;
}

/* Disable selection to the user*/
 body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#portfolio {
    display:none;
    font-size:0.9em;
}